<!-- Sidebar -->
<aside
  [class.translate-x-0]="mobileOpen"
  [class.-translate-x-full]="!mobileOpen"
  class="fixed top-0 left-0 w-60 z-50 h-full bg-primary shadow-lg transform transition-transform duration-300"
>
  <div class="p-4 flex justify-between items-center">
    <h1 class="text-xl font-bold text-white">JLB</h1>
    <button class="lg:hidden" (click)="mobileOpen = false">
      <lucide-icon [name]="Icons.Close" class="text-white hover:text-white/40 hover:transition-all size-5"></lucide-icon>
    </button>
  </div>
  <nav class="p-4 flex flex-col gap-4">
    <a href="#" class="text-white hover:bg-gray-100 hover:text-neutral-700 hover:transition-all p-2 rounded flex items-center gap-2">
      <lucide-icon [name]="Icons.House" class="w-4 h-4"></lucide-icon> Dashboard
    </a>
    <a href="#" class="text-white hover:bg-gray-100 hover:text-neutral-700 hover:transition-all p-2 rounded flex items-center gap-2">
      <lucide-icon [name]="Icons.CheckSquare" class="w-4 h-4"></lucide-icon> My Tasks
    </a>
    <a href="#" class="text-white hover:bg-gray-100 hover:text-neutral-700 hover:transition-all p-2 rounded flex items-center gap-2">
      <lucide-icon [name]="Icons.Mail" class="w-4 h-4"></lucide-icon> Contact Me
    </a>
  </nav>
</aside>

<!-- Overlay for mobile -->
@if (mobileOpen) {
  <div class="fixed inset-0 bg-black/50 z-20 lg:hidden" (click)="mobileOpen = false"></div>
}

<!-- Toggle button -->
<button
  class="fixed top-4 left-4 z-40 p-2 bg-white rounded shadow lg:hidden"
  (click)="mobileOpen = true"
>
  <lucide-icon [name]="Icons.Menu"></lucide-icon>
</button>

<!-- Main content -->
<!-- <div [class.ml-64]="mobileOpen || isLargeScreen" class="transition-all duration-300 p-4">
  <h1 class="text-2xl font-bold mb-4">Main Content</h1>
  <p>When the sidebar opens, this content moves to the right.</p>
</div> -->
