<!-- Sidebar -->
<aside
  class="absolute h-screen bg-primary transition-all duration-300"
  [class.w-64]="isOpen"
  [class.w-16]="!isOpen"
>
  <!-- Toggle Button -->
  <button class="absolute top-2 right-3 text-white p-2" (click)="toggleSidebar()">
    @if (isOpen) {
      <lucide-icon
        [img]="Icons.Close"
        class="my-icon text-white group-hover/profile:text-white"
      ></lucide-icon>
    } @else {
      <lucide-icon
        [img]="Icons.MyIcon"
        class="my-icon text-white group-hover/profile:text-white"
      ></lucide-icon>
    }
  </button>

  <!-- Navigation -->
  <nav class="mt-12 flex flex-col gap-2 relative">
    <ng-container *ngFor="let item of navigation">
      @if (isOpen) {
        <!-- Full menu when open -->
        <a
          [routerLink]="item.route"
          class="flex items-center gap-3 p-2 text-white hover:bg-primary-foreground rounded transition-all"
          routerLinkActive="bg-primary/80"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <lucide-icon [name]="item.icon" [size]="24" class="text-white"></lucide-icon>
          <span>{{ item.name }}</span>
        </a>
      } @else {
        <!-- Mini Icon when closed -->
        <a
          [routerLink]="item.route"
          class="absolute left-[-48px] w-12 h-12 bg-primary-foreground text-white rounded flex items-center justify-center shadow-lg hover:bg-primary cursor-pointer transition-all"
          [title]="item.name"
          routerLinkActive="bg-primary/80"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <lucide-icon [name]="item.icon" [size]="24" class="text-white"></lucide-icon>
        </a>
      }
    </ng-container>
  </nav>
</aside>
