<aside
  class="absolute h-screen bg-primary transition-all duration-300"
  [class.w-60]="isOpen"
  [class.w-16]="!isOpen"
>
  <!-- Toggle Button -->
  <div class="p-2" [ngClass]="{ 'bg-gray-900/40': isOpen }">
    <button
      class="text-white rounded transition-all p-3"
      [ngClass]="{ 'w-full': isOpen, 'bg-gray-900/40 hover:bg-gray-900/20': !isOpen }"
      (click)="toggleSidebar()"
    >
      <div class="flex justify-between items-center">
        @if (isOpen) {
          <div class="flex gap-2 items-center">
            <lucide-icon [img]="Icons.MyIcon" strokeWidth="1" class="text-white"></lucide-icon>
            <span class="text-xs italic font-mono">dev:jenna</span>
          </div>
          <div>
            <lucide-icon
              [img]="Icons.Close"
              strokeWidth="1"
              class="text-white size-5 hover:text-white/50 transition-colors"
            ></lucide-icon>
          </div>
        } @else {
          <lucide-icon [img]="Icons.MyIcon" strokeWidth="1" class="text-white"></lucide-icon>
        }
      </div>
    </button>
  </div>

  <!-- Navigation -->
  <nav class="p-2 pt-2 flex flex-col gap-2 relative">
    @for (item of navigation; track item.name) {
      @if (isOpen) {
        <!-- Full menu when open -->
        <a
          [routerLink]="item.route"
          class="flex items-center gap-3 p-3 text-white hover:bg-gray-900/20 rounded transition-all"
          routerLinkActive="bg-primary/80"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          @if (item.icon) {
            <lucide-icon
              [name]="item.icon"
              [size]="24"
              strokeWidth="1"
              class="text-white"
            ></lucide-icon>
          }
          <span>{{ item.name }}</span>
        </a>
      } @else {
        <!-- Mini Icon when closed -->
        @if (item.icon) {
          <a
            [routerLink]="item.route"
            class="gap-3 p-3 bg-transparent text-white rounded flex items-center justify-center hover:bg-gray-900/20 cursor-pointer transition-all"
            [title]="item.name"
            routerLinkActive="bg-primary/80"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <lucide-icon
              [name]="item.icon"
              [size]="24"
              strokeWidth="1"
              class="text-white"
            ></lucide-icon>
          </a>
        }
      }
    }
  </nav>
</aside>
