<form [formGroup]="form" [class.p-datepicker-show-icon]="showIcon">
  <p-datepicker
    formControlName="selectedDate"
    [iconDisplay]="'input'"
    [showIcon]="showIcon"
    [dateFormat]="dateFormat"
    [invalid]="isInvalid('selectedDate')"
    class="text-gray-500 text-sm w-full"
  >
    @if (showIcon) {
      <ng-template #inputicon let-clickCallBack="clickCallBack">
        <lucide-icon
          [img]="Icons.CalendarRange"
          strokeWidth="1"
          class="text-gray-500 size-4"
        ></lucide-icon>
      </ng-template>
    }
  </p-datepicker>
</form>
